.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #212529;
}

/* HOME */

.brForPhone {
    display: none;
}

.home {
    width: 100%;
    display: flex;
    justify-content: center;
}
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeHeader {
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 15%;
    /* padding-left: 17%; */
    box-sizing: border-box;
}
.homeHeader h1 {
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 96px;
    z-index: 1;
    margin-left: 75px;
}
.homeHeader h1 + h1 {
    color: white;
}
.titleUA {
    font-size: 80px !important;
    position: relative;
    top: 15px;
}
.titleContainer {
    z-index: 1;
    color: white;
}
.redBall {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #D60000;
    position: absolute;
    z-index: 0;
    top: 22%;
    right: 25%;
}
.homeSub {
    width: 100%;
    display: flex;
    font-size: 34px;
    padding-left: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.homeSub p {
    width: 40%;
    margin-block-end: 0;
    margin-block-start: 0;
}
.dates {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 60px;
    box-sizing: border-box;
    margin-top: 50px;
}
.datesOne {
    display: flex;
    align-items: center;
}
.quadro {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #D60000;
    margin-right: 10px;
}
.dates p {
    font-weight: 600;
    font-size: 1.5rem;
    margin-block-end: 0;
    margin-block-start: 0;
}
.pluwki {
    margin-top: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pluwka {
    display: flex;
    align-items: center;
}
.pluwkaImgContainer {
    border: 3px solid black;
    border-radius: 50%;
    padding: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pluwka span {
    margin-left: 10px;
    font-size: 18px;
    line-height: 1.5;
}
.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 75px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* POLEZNO */

.polezno {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.poleznoContainer {
    display: flex;
    justify-content: space-between;
}
.poleznoInfo {
    width: 50%;
}
.polezno h3 {
    font-size: 27px;
    font-weight: 600;
}

/* CHESS */

.chess {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.chessContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chessContainer img {
    margin: 0 10px;
    width: 300px;
    height: 450px;
}


/* DOWNLOAD */

.download {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.download h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 44px;
    line-height: 1.2;
    font-weight: bold;
}
.download a {
    transition-duration: .5s;
    background-color: #C20000;
    color: white;
    font-weight: bold;
    border-radius:0px !important;
    border: 2px solid transparent;
    padding: 10px 50px;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 35px;
}
.download a:hover {
    background-color: white;
    color: #C20000;
    border: 2px solid #C20000;
}

/* PROGRAM */

.program {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.programContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.program h2 {
    font-size: 44px;
}
.shedule {
    border: 4px solid #D30000;
    padding: 0% 5% 7%;
    box-sizing: border-box;
    width: 100%;
}
.sides {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.side {
    width: 50%;
}
.point {
    display: flex;
    flex-direction: column;
}
.point h4, .final h4 {
    margin-block-start: 60px;
    font-size: 1.75rem;
    margin-block-end: 0;
}
.point p, .final p {
    margin-block-end: 0;
    margin-block-start: 5px;
    font-weight: bold;
}
.point ul {
    padding-left: 20px;
}
.point ul li {
    padding-left: 10px;
    margin-bottom: 5px;
    font-weight: 400;
}
.point ul li::marker {
   content: '-';
}

.final {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.final span {
    margin-top: 10px;
}
.progBut {
    margin-top: 100px;
}

/* SPEAKER */

.speaker {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.speakerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.speakerImageContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
}
.speakerImageContainer img {
    width: 100%;
    height: 800px;
}
.speakerImageContainer label {
    position: absolute;
    font-size: 44px;
    font-weight: bold;
}
.speakerTitle {
    left: -140px;
    top: 100px;
    transform: rotate(90deg);
}
.speakerName {
    right: -330px;
    top: 40%;
    transform: rotate(90deg);
    width: max-content
}
.speakerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 50%;
    text-align: left;
}
.speakerAbout p {
    font-size: 16px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin: 15px 0;
}


/* VALUES */

.values {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.valuesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.values h2 {
    font-size: 34px;   
}
.value {
    display: flex;
    align-items: center;
    width: 470px;
    margin-top: 15px;
}
.value span {
    margin-left: 15px;
    font-size: 16px;
}
.valueBut {
    margin-top: 75px;
}

/* PRICE */
.price a {
    width: 100%;
    height: 100%;
    transition-duration: .5s;
    background-color: #C20000;
    color: white;
    font-weight: bold;
    border-radius:0px !important;
    border: 2px solid transparent;
    padding: 10px 50px;
    box-sizing: border-box;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.price a:hover {
    background-color: white;
    color: #C20000;
    border: 2px solid #C20000;
}
.price {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.price h2 {
    font-size: 34px;
    text-transform: uppercase;
}
.priceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.priceBlock {
    display: flex;
    flex-direction: column;
    border-top: 3px solid #C20000;
    border-bottom: 3px solid #C20000;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 50px;
}
.priceBlock h4 {
    font-size: 30px;
    text-align: center;
}
.pricePluwki {
    width: 50%;
}
.pricePluwki h4 {
    font-size: 30px;
    text-align: center;
}
.pricePluwki ul {
    list-style: none;
}
.pricePluwki ul li {
    margin: 10px 0;   
}
.pricePluwki ul li::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #C20000;
    position: absolute;
    font-weight: bold;
    transform: translateX(-20px) translateY(6px);
}

/* ALERT */

.alert {
    width: 100%;
    height: 92px;
    text-align: center;
    background-color: #C20000;
    margin-top: 100px;
}
.alert h2 {
    font-size: 34px;
    color:white;
}
.afterAlertBut {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* BONUS */

.bonuses {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.bonusesContainer {
    display: flex;
    justify-content: space-around;
}
.bonus {
    width: 300px;
    height: 300px;
    border: 3px solid #C20000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bonusMain {
    width: 300px;
    height: 240px;
    border: 3px solid #C20000;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 0 10%;
    box-sizing: border-box;
}
.bonusMain h2 {
    background-color: white;
    width: fit-content;
    font-size: 30px;
}
.bonusMain p {
    margin-bottom: auto;
    margin-block-end: 0;
    margin-block-start: 0;
}
.bonus1Main {
    left: 30px;
}
.bonus2Main {
    height: 300px;
    justify-content: center;
}
.bonus1Main h2 {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 10%;
    box-sizing: border-box;
    background-color: white;
    position: relative;
    top: -30px;
}
.bonus2Main {
    left: -30px;
    top: -50px;
}
.bonus2Main p {
    height: 100px;
    background-color: white;
    position: absolute;
    top: 200px;
    width: 70%;
}
.bonus + .bonus {
    position: relative;
    top: 50px;
}

/* COMMENTS */

.comments { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
}
.comments h2 {
    font-size: 34px;
}
.commentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.sliderBack {
    background-color: #fbe5e2;
    height: 500px;
    padding: 30px;
    box-sizing: border-box;
    width: 80%;
}
.comBut {
    margin-top: 100px;
}
.squares {
    width: 100%;
    margin-top: 100px;
}
.chessBg {
    margin-top: 50px;
    width: 100%;
    background-image: url("../Assets/chessBg.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.footer h3 {
    margin-block-end: 0;
    margin-block-start: 0;
    text-align: center;
    font-size: 24px;
}
.topFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
.topFooter button {
    width: 80%;
    margin-bottom: 25px;
}
.footBut label {
    font-weight: 500;
}
.footBut {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footBot {
    width: 100%;
    box-sizing: border-box;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.footBotContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.links a {
    transition-duration: .3s;
}
.links a:hover {
    opacity: .8;
}
.links img {
    width: 30px;
    margin: 0 10px;
}

@media screen and (max-width: 1024px) {
    .homeHeader {
        justify-content: center;
    }
    .homeHeader h1 {
        margin-left: 0;
    }
    .redBall {
        width: 350px;
        height: 350px;
        right: 13%;
    }
    .homeSub {
        padding-left: 130px;
    }
    .dates {
        align-items: center;
        padding-left: 0;
    }
    .pluwki {
        align-items: center;
    }
    .pluwka {
        width: 35%;
        margin-bottom: 25px;
        flex-direction: column;
        text-align: center;
    }
    .pluwka span {
        margin-left: 0;
        margin-top: 10px;
    }
    .buttons {
        padding: 0;
    }
    .polezno h3 {
        font-size: 21px;
    }
    .speakerImageContainer {
        width: 60%;
    }
    .speakerAbout {
        width: 60%;
    }
    .values {
        margin-top: 90px;
    }
    .program {
        margin-top: 100px;
    }
}

@media screen and (max-width: 900px) {
    .titleUA {
        font-size: 60px !important;
        top: 20px;
    }
    .poleznoContainer {
        flex-direction: column;
        align-items: center;
    }
    .poleznoContainer img {
        width: 50%;
        margin-top: 20px;
    }
    .poleznoInfo {
        width: 100%;
        text-align: center;
    }
    .chessContainer img {
        width: 30%;
        height: 100%;
    }
    .download h1 {
        font-size: 30px;
    }
    .speakerImageContainer {
        width: 80%;
    }
    .speakerImageContainer img {
        height: auto;
    }
    .speakerAbout {
        width: 80%;
    }
    .values {
        margin-top: 50px;
    }
    .price {
        margin-top: 100px;
    }
    .alert {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .alert h2 {
        font-size: 26px;
    }
    .chessBg {
        height: 400px;
    }
    .footer {
        margin-top: 120px;
    }
    .redBall {
        width: 300px;
        height: 300px;
        right: 9%;
        top: 14%;
    }
    .homeSub {
        padding-left: 80px;
    }
    .homeSub p {
        font-size: 28px;
    }
    .homeHeader h1 {
        font-size: 86px;
    }
    .sliderBack {
        width: 100%;
    }
}


@media screen and (max-width: 700px) {
    .titleUA {
        font-size: 40px !important;
        top: 15px;
    }
    .homeHeader h1 {
        font-size: 60px;
    }
    .redBall {
        width: 200px;
        height: 200px;
        right: 11%
    }
    .homeSub {
        padding-left: 60px;
    }
    .homeSub p {
        font-size: 20px;
    }
    .dates {
        text-align: center;
    }
    .dates p {
        font-size: 16px;
    }
    .datesOne {
        margin-bottom: 10px;
    }
    .pluwki {
        align-items: flex-start;
    }
    .pluwkaImgContainer {
        width: 30px;
        height: 30px;
    }
    .pluwkaImgContainer img {
        width: 100%;
    }
    .pluwka span {
        font-size: 14px;
    }
    .buttons {
        flex-direction: column;
    }
    .buttons button {
        width: 100% !important;
    }
    .buttons button + button {
        margin-top: 15px;
    }
    .polezno h3 {
        font-size: 18px;
    }
    .download {
        margin-top: 60px;
    }
    .download h1 {
        font-size: 20px;
    }
    .program {
        margin-top: 70px;
    }
    .sides {
        flex-direction: column;
    }
    .side {
        width: 100%;
    }
    .point {
        text-align: center;
    }
    .point ul li::marker {
        content: '';
    }
    .point ul {
        padding-left: 0;
        list-style: none;
    }
    .point ul li {
        padding-left: 0;
    }
    .final {
        width: 100%;
    }
    .speakerImageContainer {
        width: 70%;
    }
    .speakerImageContainer label {
        font-size: 32px;
    }
    .speakerTitle {
        left: -100px;
    }
    .speakerName {
        right: -240px;
    }
    .pricePluwki {
        width: 100%;
    }
    .alert h2 {
        font-size: 20px;
    }
    .bonuses {
        margin-top: 80px;
    }
    .bonusesContainer {
        flex-direction: column;
        align-items: center;
    }
    .bonus + .bonus {
        margin-top: 25px;
    }
    .chessBg {
        height: 300px;
    }
    .footer h3 {
        font-size: 18px;
    }
    .topFooter {
        flex-direction: column;
        align-items: center;
    }
    .footBut {
        width: 100%;
    }
    .footBut + .footBut {
        margin-top: 25px;
    }
    .topFooter button {
        width: 100% !important;
    }
    .footBotContainer {
        flex-direction: column;
        align-items: center;
    }
    .links {
        margin-bottom: 30px;
        width: 100%;
        justify-content: center;
    }
    .links a {
        margin: 0 10px;
    }
    .home {
        margin-top: 50px;
    }
}

@media screen and (max-width: 500px) {
    .titleUA {
        font-size: 30px !important;
        top: 12px;
    }
    .homeHeader h1 {
        font-size: 48px;
    }
    .homeSub {
        padding-left: 35px;
    }
    .homeSub p {
        font-size: 17px;
        width: 45%;
    }
    .valuesContainer {
        padding: 0 10%;
        box-sizing: border-box;
    }
    .value {
        width: 100%;
    }
    .values h2 {
        font-size: 28px;
        text-align: center;
    }
    .value span {
        font-size: 14px;
    }
    .redBall {
        width: 160px;
        height: 160px;
        right: 6%;
    }
    .dates {
        padding: 0 5%;
        box-sizing: border-box;
    }
    .pluwki {
        flex-wrap: wrap;
    }
    .pluwka {
        width: 50%;
    }
    .pluwkaImgContainer {
        padding: 15px;
    }
    .polezno {
        margin-top: 50px;
    }
    .buttons {
        margin-top: 40px;
    }
    .polezno h3 {
        font-size: 16px;
    }
    .chess {
        margin-top: 60px;
    }
    .download {
        text-align: center;
    }
    .download h1 {
        font-size: 16px;
    }
    .program h2 {
        font-size: 32px;
    }
    .speaker {
        margin-top: 75px;
    }
    .speakerImageContainer label {
        font-size: 22px;
    }
    .speakerTitle {
        left: -70px;
        top: 65px;
    }
    .speakerName {
        right: -165px;
        top: 44%;
    }
    .speakerAbout p {
        font-size: 14px;
    }
    .speakerAbout {
        text-align: center;
        width: 100%;
    }
    .value img {
        width: 25px;
    }
    .price {
        margin-top: 50px;
    }
    .price h2 {
        font-size: 28px;
    }
    .alert h2 {
        font-size: 16px;
    }
    .comments h2 {
        font-size: 28px;
    }
    .comments {
        margin-top: 120px;
    }
    .chessBg {
        height: 100px;
    }
    .footer {
        margin-top: 70px;
    }
    .footer h3 {
        font-size: 14px;
    }
    .topFooter button {
        font-size: 16px !important;
    }
    .bonus {
        transform: scale(0.8);
    }
    .point h4 {
        font-size: 1.5rem;
    }
    .point ul li {
        font-size: 14px;
    }
    .point span {
        font-size: 14px;
    }
    .brForPhone {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .redBall {
        right: 0;
        top: 0;
    }
    .homeSub {
        padding-left: 15px;
    }
    .homeSub p {
        font-size: 15px;
    }
    .dates {
        padding: 0;
    }
    .pluwkaImgContainer img {
        width: 90%;
    }
    .footBot {
        margin-top: 70px;
    }
    .brForPhone {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .titleUA {
        top: 8px;
    }
    .price img {
        width: 100%;
    }
    .homeHeader h1 {
        font-size: 40px;
    }
    .redBall {
        width: 140px;
        height: 140px;
        right: 3%;
    }
    .homeSub p {
        font-size: 14px;
    }
    .dates p {
        font-size: 14px;
    }
    .pluwka span {
        font-size: 12px;
    }
    .buttons button {
        font-size: 16px !important;
    }
    .polezno h3 {
        font-size: 14px;
    }
    .polezno {
        margin-top: 40px;
    }
    .download h1 {
        font-size: 13px;
    }
    .price h2 {
        font-size: 24px;
    }
    .priceBlock {
        margin-top: 20px;
    }
    .pricePluwki h4 {
        font-size: 20px;
    }
    .alert {
        height: 56px;
    }
    .alert h2 {
        font-size: 14px;
    }
    .afterAlertBut {
        margin-top: 50px;
    }
    .bonuses {
        margin-top: 40px;
    }
    .bonus {
        transform: scale(0.7);
    }
    .comments h2 {
        font-size: 20px;
    }
}