.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #212529;
}

/* HOME */

.home {
    width: 100%;
    display: flex;
    justify-content: center;
}
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeHeader {
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 15%;
    /* padding-left: 17%; */
    box-sizing: border-box;
}
.homeHeader h1 {
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 96px;
    z-index: 1;
    margin-left: 75px;
}
.homeHeader h1 + h1 {
    color: white;
}
.redBall {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #D60000;
    position: absolute;
    z-index: 0;
    top: 22%;
    right: 25%;
}
.homeSub {
    width: 100%;
    display: flex;
    font-size: 34px;
    padding-left: 50px;
    box-sizing: border-box;
}
.homeSub p {
    width: 50%;
}
.dates {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 60px;
    box-sizing: border-box;
    margin-top: 50px;
}
.datesOne {
    display: flex;
    align-items: center;
}
.quadro {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #D60000;
    margin-right: 10px;
}
.dates p {
    font-weight: 600;
    font-size: 1.5rem;
    margin-block-end: 0;
    margin-block-start: 0;
}
.pluwki {
    margin-top: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pluwka {
    display: flex;
    align-items: center;
}
.pluwkaImgContainer {
    border: 3px solid black;
    border-radius: 50%;
    padding: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pluwka span {
    margin-left: 10px;
    font-size: 18px;
    line-height: 1.5;
}
.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 75px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* POLEZNO */

.polezno {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.poleznoContainer {
    display: flex;
    justify-content: space-between;
}
.poleznoInfo {
    width: 50%;
}
.polezno h3 {
    font-size: 27px;
    font-weight: 600;
}

/* CHESS */

.chess {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.chessContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chessContainer img {
    margin: 0 10px;
    width: 300px;
    height: 450px;
}


/* DOWNLOAD */

.download {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.download h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 44px;
    line-height: 1.2;
    font-weight: bold;
}
.download a {
    transition-duration: .5s;
    background-color: #C20000;
    color: white;
    font-weight: bold;
    border-radius:0px !important;
    border: 2px solid transparent;
    padding: 10px 50px;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 35px;
}
.download a:hover {
    background-color: white;
    color: #C20000;
    border: 2px solid #C20000;
}

/* PROGRAM */

.program {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.programContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.program h2 {
    font-size: 44px;
}
.shedule {
    border: 4px solid #D30000;
    padding: 0% 5% 7%;
    box-sizing: border-box;
    width: 100%;
}
.sides {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.side {
    width: 50%;
}
.point {
    display: flex;
    flex-direction: column;
}
.point h4, .final h4 {
    margin-block-start: 60px;
    font-size: 1.75rem;
    margin-block-end: 0;
}
.point p, .final p {
    margin-block-end: 0;
    margin-block-start: 5px;
    font-weight: bold;
}
.point ul {
    padding-left: 20px;
}
.point ul li {
    padding-left: 10px;
    margin-bottom: 5px;
    font-weight: 400;
}
.point ul li::marker {
   content: '-';
}

.final {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.final span {
    margin-top: 10px;
}
.progBut {
    margin-top: 100px;
}

/* SPEAKER */

.speaker {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.speakerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.speakerImageContainer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
}
.speakerImageContainer img {
    width: 100%;
    height: 800px;
}
.speakerImageContainer label {
    position: absolute;
    font-size: 44px;
    font-weight: bold;
}
.speakerTitle {
    left: -140px;
    top: 100px;
    transform: rotate(90deg);
}
.speakerName {
    right: -330px;
    top: 40%;
    transform: rotate(90deg);
    width: max-content
}
.speakerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 50%;
    text-align: left;
}
.speakerAbout p {
    font-size: 16px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin: 15px 0;
}


/* VALUES */

.values {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.valuesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.values h2 {
    font-size: 34px;   
}
.value {
    display: flex;
    align-items: center;
    width: 470px;
    margin-top: 15px;
}
.value span {
    margin-left: 15px;
    font-size: 16px;
}
.valueBut {
    margin-top: 75px;
}

/* PRICE */

.price {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.price h2 {
    font-size: 34px;
    text-transform: uppercase;
}
.priceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.priceBlock {
    display: flex;
    flex-direction: column;
    border-top: 3px solid #C20000;
    border-bottom: 3px solid #C20000;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 50px;
}
.priceBlock h4 {
    font-size: 30px;
    text-align: center;
}
.pricePluwki {
    width: 50%;
}
.pricePluwki h4 {
    font-size: 30px;
    text-align: center;
}
.pricePluwki ul li {
    margin: 10px 0;   
}
.pricePluwki ul li::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #C20000;
    position: absolute;
    font-weight: bold;
    transform: translateX(-20px) translateY(6px);
}

/* ALERT */

.alert {
    width: 100%;
    height: 92px;
    text-align: center;
    background-color: #C20000;
    margin-top: 100px;
}
.alert h2 {
    font-size: 34px;
    color:white;
}
.afterAlertBut {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* BONUS */

.bonuses {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.bonusesContainer {
    display: flex;
    justify-content: space-around;
}
.bonus {
    width: 300px;
    height: 300px;
    border: 3px solid #C20000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bonusMain {
    width: 300px;
    height: 240px;
    border: 3px solid #C20000;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 0 10%;
    box-sizing: border-box;
}
.bonusMain h2 {
    background-color: white;
    width: fit-content;
    font-size: 30px;
}
.bonusMain p {
    margin-bottom: auto;
    margin-block-end: 0;
    margin-block-start: 0;
}
.bonus1Main {
    left: 30px;
}
.bonus2Main {
    height: 300px;
    justify-content: center;
}
.bonus1Main h2 {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 10%;
    box-sizing: border-box;
    background-color: white;
    position: relative;
    top: -30px;
}
.bonus2Main {
    left: -30px;
    top: -50px;
}
.bonus2Main p {
    height: 100px;
    background-color: white;
    position: absolute;
    top: 200px;
    width: 70%;
}
.bonus + .bonus {
    position: relative;
    top: 50px;
}

/* COMMENTS */

.comments { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
}
.comments h2 {
    font-size: 34px;
}
.sliderBack {
    background-color: #fbe5e2;
    height: 500px;
    padding: 30px;
    box-sizing: border-box;
}

