.main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2.5%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container button {
    outline: none;
    cursor: pointer;
    color: black;
    font-size: 14px;
    border: none;
    background-color: transparent;
    font-weight: bold;
}
.container button:hover {
    text-decoration: underline;
}