.main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2.5%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container button {
    outline: none;
    cursor: pointer;
    color: #212529;
    font-size: 14px;
    border: none;
    background-color: transparent;
    font-weight: bold;
}
.container button:hover {
    text-decoration: underline;
}
.burger {
    display: none;
}

@media screen and (max-width: 700px) {
    .container {
        display: none;
    }
    .burger {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .main {
        position: fixed;
        z-index: 100;
    }
}