.main {
    width: 400px;
}
.main form {
    width: 100%;
    display: flex;
}
.field div {
    margin-top: 3px;
    width: 95%;
}
.field p {
    position: absolute;
    bottom: -25px
}
.main form button {
    background-color: #ac0000;
    color: white;
    font-weight: bold;
    align-self: flex-end;
    height: 55px;
    border-radius: 0;
}
.main form button:hover {
    background-color: #970505;
}

@media screen and (max-width: 400px) {
    .main {
        width: 100%;
    }
    .main form {
        flex-direction: column;
        align-items: center;
    }
    .main form button {
        align-self: center;
        width: 100%;
        margin-top: 10px;
    }
    .field div {
        width: 100%;
    }
}